<!-- mappa -->
<agm-map class="mappa" [latitude]="45.366535" [longitude]="9.683444" [zoom]="20">
  <agm-polyline *ngFor="let recordBarchetta of recordDivisi | async"
    [strokeWeight]="6"
    [strokeOpacity]="0.75"
    [zIndex]=""
    [strokeColor]="recordBarchetta.barchetta.colore">
    <agm-polyline-point *ngFor="let recordSingolo of recordBarchetta.record"
      [latitude]="recordSingolo.latitudine"
      [longitude]="recordSingolo.longitudine"></agm-polyline-point>
  </agm-polyline>

  <!-- Ultima posizione barchette -->
  <ng-container *ngFor="let recordBarchetta of recordDivisi | async">
    <agm-marker *ngIf="recordBarchetta.record.length > 0"
      [latitude]="recordBarchetta.record[recordBarchetta.record.length - 1].latitudine"
      [longitude]="recordBarchetta.record[recordBarchetta.record.length - 1].longitudine"
      [iconUrl]="'favicon.ico'"></agm-marker>
  </ng-container>
</agm-map>
