<div style="display: block;" class="contenitore-grafici">
  <canvas baseChart
    [datasets]="datiGrafico"
    [labels]="etichetteGrafico"
    [options]="opzioniGrafico"
    [colors]="coloriDatiGrafico"
    legend
    [chartType]="'line'"></canvas>
  <!--<canvas baseChart width="400" height="400"
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [colors]="lineChartColors"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"></canvas>-->
</div>